<div class="bg-[#EAE6E6] w-full h-[800px]">
  <div class="bg-[#EAE6E6] h-full">
    <div class="flex h-full">
      <div class="w-[25%] bg-white py-8 px-2">
        <p
          class="bg-[#A49E9E] text-[#fff] font-[700] py-[10px] text-center mx-[10px] rounded-[10px]"
        >
          TRƯỞNG NHÓM
        </p>
        <span class="flex justify-center py-[10px]">
          <img
            src="{{ users.img }}"
            class="w-[100px] h-[100px] rounded-[50%]"
            alt=""
          />
        </span>
        <p class="text-center text-[16px] font-[700] uppercase">
          {{ users.name }}
        </p>
        <div class="text-center pt-[20px] pb-[10px]">Tóm tắt về Team</div>
        <div>
          <ul>
            <li
              class="flex justify-between border-[1px] border-[#9999] border-solid mx-[20px] bg-[#fff] px-[10px] py-[8px]"
            >
              <span>SỐ LƯỢNG THÀNH VIÊN </span>
            </li>
            <li
              class="flex justify-between border-[1px] border-[#9999] border-solid mx-[20px] bg-[#fff] px-[10px] py-[8px]"
            >
              <span>TỔNG CHI PHÍ TẤT CẢ CÁC DỰ ÁN</span>
            </li>
            <li
              class="flex justify-between border-[1px] border-[#9999] border-solid mx-[20px] bg-[#fff] px-[10px] py-[8px]"
            >
              <span>CÁC TASK ĐANG XỬ LÝ </span>
            </li>
            <li
              class="flex justify-between border-[1px] border-[#9999] border-solid mx-[20px] bg-[#fff] px-[10px] py-[8px]"
            >
              <span>DỰ ÁN TRIỂN KHAI</span>
              <!-- <span>{{ taskProcessing.length }}</span> -->
            </li>
          </ul>
        </div>
      </div>
      <div class="w-[50%] p-8">
        <div class="">
          <h1
            class="bg-[#6B8D99] text-[14px] py-[10px] font-[700] text-[#fff] text-center"
          >
            TỔNG THỂ VỀ DỰ ÁN {{ project.name }}
          </h1>
          <div class="flex justify-between py-[10px]">
            <span>Tên dự án</span>
            <span>{{ project.name }}</span>
          </div>
          <div class="flex justify-between py-[10px]">
            <span>Hiện tại đã chi</span>
            <span>{{ numberWithComas(project.totalMoney) }} đ</span>
          </div>
          <div class="flex justify-between py-[10px]">
            <span>Trạng thái</span> <span>{{ project.status }}</span>
          </div>
          <div class="flex justify-between py-[10px]">
            <span>Tổng số thành viên cho 1 project</span>
            <span>{{ project.employs }}</span>
          </div>
          <div class="flex justify-between py-[10px]">
            <span>Ngày bắt đầu</span> <span>{{ project.date }}</span>
          </div>
        </div>
        <div>
          
        </div>
      </div>
      <div class="w-[25%] bg-white py-8 px-2">
        <div class="text-center pt-[20px] pb-[10px]">KHÁCH HÀNG</div>
        <div *ngFor="let cus of customers">
          <ul>
            <li
              class="flex justify-between border-[1px] border-[#9999] border-solid mx-[20px] bg-[#fff] px-[10px] py-[8px]"
            >
              {{ cus.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
